@model IEnumerable<CustomerModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Family</th>
            <th>NationalCode</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Family</td>
                <td>@item.NationalCode</td>
                <td><a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                <td><a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>